.bottom-line {
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 0;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background: $primary;
        transition: 0.3s all ease-in;
    }

    &:hover::after {
        width: 100%;
    }
}

.progresses {
    counter-reset: step;
}

.progresses li {
    list-style-type: none;
    // float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    z-index: 0;

    &::before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ddd;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background: #ddd;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
    }

    &:first-child::after {
        content: none;
    }
}

.progresses li.active::before {
    border-color: $primary;
    background: $primary;
}

.progresses li.active+li::after {
    background: $primary;
}


.bg-opacity {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7); // 背景色設置為半透明白色
        z-index: -1;
    }
}

.glass {
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0% 0% 15% 15%;
    border: 3px solid;
    border-top: 0;
    border-bottom: 20px solid;
    border-color: $dark;
    overflow: hidden;
}

.brandy {
    background: linear-gradient(to bottom, orange, orangered);
    opacity: 0.7;
    animation-name: grow1;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.gin {
    background: linear-gradient(to bottom, rgb(150, 230, 227), rgba(87, 231, 227, 1));
    opacity: 0.7;
    animation-name: grow2;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.rum {
    background: linear-gradient(to bottom, rgb(170, 1, 7), rgba(104, 0, 3, 1));
    opacity: 0.7;
    animation-name: grow3;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.vodka {
    background: linear-gradient(to bottom, rgb(212, 233, 231), rgb(165, 231, 225));
    opacity: 0.7;
    animation-name: grow4;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.wiskey {
    background: linear-gradient(to bottom, rgb(231, 144, 50), rgb(165, 89, 7));
    opacity: 0.7;
    animation-name: grow5;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

@keyframes grow1 {
    from {
        height: 0px;
    }

    to {
        height: 200px;
    }
}
@keyframes grow2 {
    from {
        height: 0px;
    }

    to {
        height: 200px;
    }
}
@keyframes grow3 {
    from {
        height: 0px;
    }

    to {
        height: 200px;
    }
}
@keyframes grow4 {
    from {
        height: 0px;
    }

    to {
        height: 200px;
    }
}
@keyframes grow5 {
    from {
        height: 0px;
    }

    to {
        height: 200px;
    }
}


.yellow {
    background: linear-gradient(to bottom, rgb(233, 215, 55), rgba(234, 213, 21, 1));
    opacity: 0.7;
    animation-name: grow6;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
.red {
    background: linear-gradient(to bottom, rgb(206, 59, 76), rgb(215, 11, 35));
    opacity: 0.7;
    animation-name: grow7;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}
.blue {
    background: linear-gradient(to bottom, rgb(84, 153, 236), rgba(17, 125, 253, 1));
    opacity: 0.7;
    animation-name: grow8;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

@keyframes grow6 {
    from {
        height: 0px;
    }

    to {
        height: 100px;
    }
}
@keyframes grow7 {
    from {
        height: 0px;
    }

    to {
        height: 100px;
    }
}
@keyframes grow8 {
    from {
        height: 0px;
    }

    to {
        height: 100px;
    }
}