.bottom-line {
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 0;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background: $primary;
        transition: 0.3s all ease-in;
    }

    &:hover::after {
        width: 100%;
    }
}

