@mixin iphone {
    @media(min-width: 576px) {
        @content
    }
}

@mixin ipad {
    @media(min-width: 768px) {
        @content
    }
}

@mixin laptop {
    @media(min-width: 992px) {
        @content
    }
}


.bg-rounded {
    background-color: rgba(247, 198, 121, 0.986);
    ;
    backdrop-filter: blur(8px);
    border-radius: 24px;
}

.block-rwd-show {
    display: none;

    @include laptop {
        display: table;
    }
}

.block-rwd-none {
    display: table;
    @include laptop {
        display: none;
    }
}

.img-rwd {
    width: 200px;
    @include laptop {
       width: 300px;
    }
}