// setting font-weight
.fw-medium {
    font-weight: 500;
}

//setting position
.end-lg-100 {
    @include laptop {
        left: 0 !important;
    }
}

// image set
.image-cover {
    object-fit: cover;
}

.image-contain {
    object-fit: contain;
}

.image-fill {
    object-fit: fill;
}

.img-bottom {
    object-position: bottom;
}

.ratio-col {
    aspect-ratio: 3/4;
}

// center reset
.center-point {
    transform: translate(-50%, -50%);
}

.centerTop-point {
    transform: translate(0, -10%);
}

.c3-axis-x,
.c3-axis-y {
    stroke: #fff;
}

.nav-color {
    background-color: rgba(14, 17, 24, 0.2);
}


.top-55{
    top: 55% !important;
}

.left-25{
    left: 25% !important;
}

.end-20{
    right:20% !important;
}

.rotate-45{
    transform: rotate(45deg);
}

.opacity-0{
    opacity: 0;
}

.bg-orangeLight{
    background-color: #FFFF99;
}